div.datos{                             /*registro*/
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 50%;
    border-radius: 20px;
}/*----------------------------------------------*/
.itemC3{                               /*registro*/
    grid-column: 1 / -1;
    width: 95%;
}/*----------------------------------------------*/
.itemC4 , .itemC5{                     /*registro*/
    grid-column: 1 / -1;
    width: 45%;
}/*----------------------------------------------*/

@media screen and (width < 1200px) {   /*general*/
    div.datos {      /*registro*/
      width: 85%;
    }
    .itemC3{        /*registro*/
      grid-column: 1 / -1;
      width: 95%;
    }
}/*----------------------------------------------*/
@media screen and (width < 600px) {    
    div.datos {    /*registro*/
      width: 85%;
      grid-template-columns: auto; 
    }  
    .itemC1, .itemC2, .itemC3, .itemC4 , .itemC5{
      grid-column: 1 / -1;
      width: 95%;
    }
}/*----------------------------------------------*/