:root {                                
  --general-color:#8F2626;
  --color-auto:#954D4D;
  --letras:#E7E7E7;
}
form{                                  
  display: grid;
  justify-items: center;
  padding: 0px;
  text-align: center;
}
h1{                                   
  text-align:justify;
  padding: 0px 60px 40px 60px;
  color:var(--letras);
}

label{
  font-size: 30px;                                   
  color:var(--letras);
}