div.confirmar {                             /*forgot*/
    display: grid;
    grid-template-columns: auto;
    background-color: var(--general-color);
    margin: 80px 10px 10px 10px;
    padding: 30px 70px 20px 70px;
    width: 25%;
    border-radius: 20px;
  }

div.confirmar h1 {
        text-align: center;
        padding: 0px 30px 40px 30px;
} 

div.confirmar h2{
    font: 140% sans-serif;
    color: aliceblue;
    text-align: center;
}


div.confirmar button{
    background-color: black;
    padding: 10px 20px;
    border: 0;
    border-radius: 20px;
    font-size: 1em; 
    color:var(--letras);
    font-family: "Roboto", sans-serif;
    margin: 10px 20%;
    text-align: center; 
}

