div.forgot h2{                          /*forgot*/     
  color:var(--letras);
}/*----------------------------------------------*/
div.forgot{                             /*forgot*/
  display: grid;
  grid-template-columns: auto;
  background-color: var(--general-color);
  margin: 80px 10px 10px 10px;
  padding: 50px 10px 10px 10px;
  width: 25%;
  border-radius: 20px;
}/*----------------------------------------------*/
form{                               
  display: grid;
  justify-items: center;
  padding: 0px;
  text-align: center;
}
form div.forgot input{                  /*forgot*/
  width: 60%;
  margin: 0px 20%;
  padding: 15px 2%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; 
  border: none;  
  font-size: 1em;
  resize: none; 
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #B4B4B4;
}/*----------------------------------------------*/
form div.forgot button{                 /*forgot*/
  background-color:black;
  padding: 10px 10px;
  border: 0;
  border-radius: 20px;
  font-size: 1em; 
  color:var(--letras);
  font-family: "Roboto", sans-serif;
  margin: 10px 35%;
  text-align: center;  
}/*----------------------------------------------*/
form div.forgot button:hover{           /*forgot*/
  background-color:var(--color-auto);
}/*----------------------------------------------*/

@media screen and (width < 1200px) {
    div.forgot{    /*forgot*/
      width: 45%;
    }
}/*----------------------------------------------*/
@media screen and (width < 600px) {   
    div.forgot{
      width: 75%;
      margin: 110px 10px 10px 10px;
    } 
    img.sad{
      margin: auto;
      padding: 0px 0px 80px 0px;
      width: 160px;
    }
}/*----------------------------------------------*/
img.sad{
  margin: auto;
  width: 160px;
}
