body{
  background-color: black;
}

h1{
  text-align: center;;
  color:#E7E7E7;
}

form{
    padding: 60px;
    max-width: 400px;
    margin: 0 auto;
  }
  
form .log{
  background-color: #954D4D;
}

  form input{
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: none; 
    color: #525c66; 
    font-size: 1em;
    resize: none; 
    border-radius: 10px;
  }
  form button{      
      display: block;
      background-color: #8F2626;
      padding: 10px 45px 10px 45px;
      border: 0;
      border-radius: 10px;
      font-size: 1em; 
      color: 	white;
    font-family: "Roboto", sans-serif;
  }
  form button:hover{
      background-color: #046193;
  }
