div.inicio{ 
    justify-items: center;                           
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: var(--color-auto); */
    margin: 70px 10px 10px -8%;
    gap:10%; 
    border-radius: 20px;
}/*----------------------------------------------*/
form{                               
    display: grid;
    justify-items: center;
    padding: 0px;
    text-align: center;
}
form div.inicio input{                  
    width: 70%;
    margin: 20px 15%;
    border-radius: 37px;
}/*----------------------------------------------*/

img:hover {
    filter: drop-shadow(5px 5px 5px white);
  }

  @media screen and (width < 800px) {  
    div.inicio {      
      grid-template-columns: auto auto;
    }
}

@media screen and (width < 480px) {  
    div.inicio { 
        gap:3%;
        margin: 70px 10px 10px 1%;     
      grid-template-columns: auto;
    }
}