:root {                               
  --general-color:#8F2626;
  --color-auto:#954D4D;
  --letras:#E7E7E7;
}/*----------------------------------------------*/
body{                               
  background-color:black ;
  background-repeat: no-repeat;
  background-image: url("../IMG/mak.jpg");
  background-size:cover;
  /* justify-items: center; */
  padding: 0;
  margin: 0;
}/*----------------------------------------------*/
h1{                                 
  text-align:justify;
  padding: 0px 60px 40px 60px;
  color:var(--letras);
}/*----------------------------------------------*/
div#buscador{                     
  grid-template-columns: auto  12%;
  background-color: var(--general-color);
  padding: 10px 30px 10px 60px;
  border-radius: 0px 0px 20px 20px;
  display: grid;
}/*----------------------------------------------*/
div input.item1{                 
  background-color:var(--color-auto);
  margin: 10px 0px 10px 15%;
  font-family: "Roboto", sans-serif;
  width: 70%;
  padding: 10px;
  box-sizing: border-box; 
  border: none; 
  color: var(--letras); 
  font-size: 1em;
  resize: none; 
  border-radius: 10px;
}/*----------------------------------------------*/

a{                                      /*general*/
  color:var(--letras);
}/*----------------------------------------------*/

@media screen and (width < 1200px) {
  div input.item1{
    margin: 10px 0px 10px 1%;
  }  
  div#buscador{
    grid-template-columns: auto 20%;
  } 
}/*----------------------------------------------*/
@media screen and (width < 600px) {   
  div input.item1{
    margin: 10px 0px 10px 1%;
  }  
  div#buscador{
    padding: 10px 30px 10px -60px;
  } 
  body{
    background-size:contain;
  }
  div#img{
    margin: 0px -30px;
  }
}/*----------------------------------------------*/

